.page_container {
    &.view_about {
        & > .header {
            height: 50px;
        }

        & > .left {
            width: 100%;
        }

        & > .right {
            width: 0;
        }
    }
}
