@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

.view_example {
    & > .header {
        height: auto !important;

        h1 {
            font-size: parameter.$fontSizeNormalPlus !important;
            font-weight: bold !important;
            margin: 10px !important;
        }
    }
    & > .left {
        width: 100% !important;

        .section {
            margin: 10px !important;

            .title {
                font-weight: bold !important;
                font-size: parameter.$fontSizeNormalPlus !important;
            }

            .cls_button {
                display: inline-block !important;
            }
        }
    }

    p {
        margin: 10px !important;
    }
}
