.page_container {
    .view_fw_info {
        text-wrap-style: balance;

        h1 {
            font-size: 24px;
            font-weight: bold;
        }

        p {
            margin: 10px;
        }

        ul {
            margin: 10px;
            list-style: disc;

            li {
                padding: 5px;
            }
        }
    }
}
