@use "../color.scss" as color;

.view_index {
    & > .header {
        p {
            font-weight: bold;
            font-size: 30px;
            margin: 10px;
        }
    }

    & > .left {
        width: 200px !important;

        ul {
            margin-left: 25px;

            li {
                padding: 5px;

                &.category {
                    font-weight: bold;
                }

                .click {
                    cursor: pointer;
                }

                p {
                    width: fit-content;
                }
            }
        }
    }

    & > .right {
        width: calc(100% - 200px) !important;

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 10px 0 10px 0;
        }

        p {
            margin: 10px;
        }

        ul {
            list-style: disc;
            margin: 10px 10px 10px 20px !important;

            li {
                padding: 5px;
            }
        }

        .title {
            font-weight: bold;
        }

        .sub_title {
            text-decoration: underline;
        }

        .group {
            border: 1px solid color.$black;
            margin-right: 10px;
        }
    }
}

.view_content {
    margin-right: 10px;
}

table {
    border: 1px solid color.$black !important;

    colgroup {
        .cell {
            width: 50px !important;
        }
    }

    thead {
        .row {
            background-color: color.$blueMedium200 !important;
        }
    }

    .cell {
        border: 1px solid color.$black !important;
    }
}
