@use "../color.scss" as color;

.view_index {
    & > .header {
        p {
            font-weight: bold;
            font-size: 30px;
            margin: 10px;
        }
    }

    & > .left {
        width: 200px !important;

        ul {
            margin-left: 25px;

            li {
                padding: 5px;

                &.category {
                    font-weight: bold;
                }

                .click {
                    cursor: pointer;
                }

                p {
                    width: fit-content;
                }
            }
        }
    }

    & > .right {
        width: calc(100% - 200px) !important;

        h1 {
            font-size: 24px;
            font-weight: bold;
        }

        p {
            margin: 10px;
        }

        ul {
            margin: 10px;
            list-style: disc;

            li {
                padding: 5px;
            }
        }

        .title {
            font-weight: bold;
        }

        .sub_title {
            text-decoration: underline;
        }

        .group {
            border: 1px solid color.$black;
            margin-right: 10px;
        }
    }
}
