.page_container {
    &.view_index {
        & > .header {
            height: 50px;
        }

        & > .left,
        & > .right {
            display: inline-block;
        }

        & > .left {
            width: 30%;

            ul {
                li {
                    list-style: disc;
                    margin-left: 25px;

                    .link {
                        cursor: pointer;
                    }
                }
            }
        }

        & > .right {
            width: 70%;
        }
    }
}
