.page_container {
    &.view_index {
        & > .header {
            height: 50px;

            p {
                font-weight: bold;
                font-size: 30px;
                margin: 10px;
            }
        }

        & > .left,
        & > .right {
            display: inline-block;
        }

        & > .left {
            width: 20%;

            ul {
                margin-left: 25px;

                li {
                    padding: 5px;

                    &.category {
                        font-weight: bold;
                    }

                    .click {
                        cursor: pointer;
                    }

                    p {
                        width: fit-content;
                    }
                }
            }
        }

        & > .right {
            width: 80%;
            vertical-align: top;
        }
    }
}
