@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

.view_index {
    & > .header {
        p {
            font-weight: bold !important;
            font-size: parameter.$fontSizeMedium !important;
            margin: 10px !important;
        }
    }

    & > .left {
        width: 200px !important;

        ul {
            margin-left: 25px !important;

            li {
                padding: 5px !important;

                &.category {
                    font-weight: bold !important;
                }

                .click {
                    cursor: pointer;
                }

                p {
                    width: fit-content !important;
                }
            }
        }
    }

    & > .right {
        width: calc(100% - 240px) !important;

        h1 {
            font-size: parameter.$fontSizeNormalPlus !important;
            font-weight: bold !important;
            margin: 10px 0 10px 0 !important;
        }

        p {
            margin: 10px !important;
        }

        ul {
            list-style: disc !important;
            list-style-position: inside !important;

            li {
                padding: 5px !important;
            }
        }

        .title {
            font-weight: bold !important;
            display: inline-block !important;
            margin: 10px 0 !important;
        }

        .sub_title {
            text-decoration: underline !important;
        }

        .group {
            border: 1px solid color.$black !important;
            margin-right: 10px !important;
        }
    }
}

.view_content {
    .section {
        margin-bottom: 20px !important;
    }
}

table {
    colgroup {
        .cell {
            width: 50px !important;
        }
    }
}
