*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  user-select: auto;
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-line-break: after-white-space;
  user-select: auto;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

body {
  overflow-x: hidden !important;
}

.hidden {
  visibility: hidden !important;
}

.none {
  display: none !important;
}

@font-face {
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: 100;
  src: url("../font/roboto-regular.woff2") format("woff2"), url("../font/roboto-regular.woff") format("woff"), url("../font/roboto-regular.ttf") format("truetype");
}
@font-face {
  font-family: "material-icon-rounded";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url("../font/material-icon-rounded.woff2") format("woff2"), url("../font/material-icon-rounded.woff") format("woff");
}
body *:not(.cls_icon) {
  font-family: "roboto-regular" !important;
  font-size: 15px !important;
}

.cls_button {
  display: block !important;
  margin: 0 10px !important;
  padding: 5px 10px !important;
  min-width: fit-content !important;
  text-align: center !important;
  border-radius: 4px !important;
  text-transform: uppercase !important;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.4) !important;
  height: 30px !important;
}
.cls_button:not(:disabled) {
  cursor: pointer !important;
}
.cls_button:disabled {
  color: #191e29 !important;
  background-color: #56698f !important;
  box-shadow: none !important;
}
.cls_button.cls_button_primary {
  color: #ffffff !important;
  background-color: #33b215 !important;
}
.cls_button.cls_button_primary:hover {
  background-color: #40df1a !important;
}
.cls_button.cls_button_secondary {
  color: #ffffff !important;
  background-color: #005eb8 !important;
}
.cls_button.cls_button_secondary:hover {
  background-color: #2594ff !important;
}
.cls_button.cls_button_flat {
  color: #005eb8 !important;
  background-color: #ffffff !important;
  border: 1px solid #005eb8 !important;
  box-shadow: none !important;
}
.cls_button.cls_button_flat:hover {
  background-color: #f0f2f6 !important;
}
.cls_button.cls_button_danger {
  color: #ffffff !important;
  background-color: #dc003d !important;
}
.cls_button.cls_button_danger:hover {
  background-color: #ff3d72 !important;
}
.cls_button.cls_button_remove {
  color: #dc003d !important;
}
.cls_button.cls_icon {
  filter: drop-shadow(1px 0 6px rgba(0, 0, 0, 0.4)) !important;
  box-shadow: none !important;
}
.cls_button .cls_button_label {
  display: inline-block !important;
}

.cls_select {
  width: fit-content !important;
  padding: 5px !important;
  border: 1px solid #a6b2c9 !important;
  border-radius: 4px !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  text-align: left !important;
  display: block !important;
}

.cls_input_text {
  width: 200px !important;
  padding: 5px !important;
  border: 1px solid #a6b2c9 !important;
  border-radius: 4px !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  text-align: left !important;
  display: block !important;
}

.cls_textarea {
  width: 200px !important;
  padding: 5px !important;
  border: 1px solid #a6b2c9 !important;
  border-radius: 4px !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  text-align: left !important;
  display: block !important;
}

.field_container {
  display: block !important;
}
.field_container .field_value.cls_select, .field_container .field_value.cls_input_text {
  margin: 0 10px !important;
}

.filter {
  height: 40px !important;
  display: table-header-group !important;
  border-bottom: 1px solid #a6b2c9 !important;
}
.filter .row {
  background-color: #005eb8 !important;
  color: #ffffff !important;
  word-break: break-word !important;
}
.filter .row.filter_action {
  border: none !important;
}
.filter .row.filter_action .container_button {
  position: absolute !important;
  top: -50px !important;
  right: 0 !important;
}
.filter .row .cell {
  vertical-align: middle !important;
  padding: 10px !important;
  min-width: auto !important;
}

.cls_icon {
  font-family: "material-icon-rounded" !important;
  position: relative !important;
  text-transform: none !important;
  font-feature-settings: "liga" !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 20px !important;
  height: 20px !important;
}

html {
  background-color: #f0f2f6 !important;
}

.page_container {
  text-align: left !important;
  text-wrap-style: balance !important;
}
.page_container > .header {
  height: 40px !important;
  z-index: 101 !important;
  position: relative !important;
}
.page_container > .left {
  width: 60% !important;
  margin: 10px !important;
  position: relative !important;
  display: inline-block !important;
  vertical-align: top !important;
}
.page_container > .right {
  width: 30% !important;
  margin: 10px !important;
  position: relative !important;
  display: inline-block !important;
  vertical-align: top !important;
}
.page_container > .footer {
  height: 40px !important;
  position: relative !important;
  margin-top: 10px !important;
}

table {
  display: table !important;
  color: #000000 !important;
  width: 100% !important;
  position: relative !important;
  border-collapse: collapse !important;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.4) !important;
  border: 1px solid #a6b2c9 !important;
}
table .row_empty {
  display: table-row !important;
  width: 100% !important;
  height: 50px !important;
  position: relative !important;
}
table .row_empty .icon_progress {
  width: 18px !important;
  height: 18px !important;
  position: absolute !important;
  left: 50% !important;
  top: 36px !important;
}
table .row_empty .text {
  position: absolute !important;
  top: 18px !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}
table .row {
  display: table-row !important;
  width: 100% !important;
  background-color: #ffffff !important;
  word-break: break-word !important;
}
table .row:not(.row_empty):not(.not_hover):hover {
  background-color: #56698f !important;
  color: #ffffff !important;
}
table .row.even {
  background-color: #d9dee8 !important;
}
table .row.selected_row {
  background-color: #0091da !important;
  color: #ffffff !important;
}
table .row.selected_row a {
  cursor: pointer !important;
  text-decoration: underline !important;
  color: #ffffff !important;
}
table .row .cell {
  display: table-cell !important;
  vertical-align: middle !important;
  padding: 0 10px !important;
  height: 50px !important;
}
table .row .cell.center {
  text-align: center !important;
}
table .row .cell.button button:not(:first-child) {
  margin-top: 5px !important;
}
table .empty_state {
  height: auto !important;
  text-align: center !important;
  padding-top: 10px !important;
  color: #7f90b3 !important;
}
table .empty_state p {
  font-size: 18px !important;
  padding: 0 !important;
}
table .empty_state .icon {
  width: 50px !important;
  height: 50px !important;
  color: #b9c2d5 !important;
}

.view_index > .header p {
  font-weight: bold !important;
  font-size: 30px !important;
  margin: 10px !important;
}
.view_index > .left {
  width: 200px !important;
}
.view_index > .left ul {
  margin-left: 25px !important;
}
.view_index > .left ul li {
  padding: 5px !important;
}
.view_index > .left ul li.category {
  font-weight: bold !important;
}
.view_index > .left ul li .click {
  cursor: pointer;
}
.view_index > .left ul li p {
  width: fit-content !important;
}
.view_index > .right {
  width: calc(100% - 240px) !important;
}
.view_index > .right h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 10px 0 10px 0 !important;
}
.view_index > .right p {
  margin: 10px !important;
}
.view_index > .right ul {
  list-style: disc !important;
  list-style-position: inside !important;
}
.view_index > .right ul li {
  padding: 5px !important;
}
.view_index > .right .title {
  font-weight: bold !important;
  display: inline-block !important;
  margin: 10px 0 !important;
}
.view_index > .right .sub_title {
  text-decoration: underline !important;
}
.view_index > .right .group {
  border: 1px solid #000000 !important;
  margin-right: 10px !important;
}

.view_content .section {
  margin-bottom: 20px !important;
}

table colgroup .cell {
  width: 50px !important;
}

.view_example > .header {
  height: auto !important;
}
.view_example > .header h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 10px !important;
}
.view_example > .left {
  width: 100% !important;
}
.view_example > .left .section {
  margin: 10px !important;
}
.view_example > .left .section .title {
  font-weight: bold !important;
  font-size: 24px !important;
}
.view_example > .left .section .cls_button {
  display: inline-block !important;
}
.view_example p {
  margin: 10px !important;
}

/*# sourceMappingURL=main.css.map */
