*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  user-select: auto;
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-line-break: after-white-space;
  user-select: auto;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

.hidden {
  visibility: hidden !important;
}

.none {
  display: none !important;
}

@font-face {
  font-family: "roboto-regular";
  font-weight: 100;
  font-style: normal;
  src: url("../font/roboto-regular.ttf") format("truetype"), url("../font/roboto-regular.woff") format("woff"), url("../font/roboto-regular.woff2") format("woff2");
}
body *:not(.material-icons) {
  font-family: "roboto-regular" !important;
  font-size: 14px;
}

table {
  display: table !important;
  color: #000000 !important;
  width: 100% !important;
  position: relative !important;
  border-collapse: collapse !important;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4) !important;
}
table .row_empty {
  display: table-row !important;
  width: 100% !important;
  height: 50px !important;
  position: relative !important;
}
table .row_empty .icon_progress {
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  left: 50% !important;
  top: 5px !important;
}
table .row_empty .text {
  position: absolute !important;
  top: 18px !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}
table .row {
  display: table-row !important;
  width: 100% !important;
  background-color: #ffffff !important;
  word-break: break-word !important;
}
table .row:not(.row_empty):not(.not_hover):hover {
  background-color: #a6b2c9 !important;
  color: #ffffff !important;
}
table .row.even {
  background-color: #f0f2f6 !important;
}
table .row.selected_row {
  background-color: #0091da !important;
  color: #ffffff !important;
}
table .row.selected_row a {
  cursor: pointer !important;
  text-decoration: underline !important;
  color: #ffffff !important;
}
table .row .cell {
  display: table-cell !important;
  vertical-align: middle !important;
  padding: 5px !important;
  height: 50px !important;
}
table .row .cell.center {
  text-align: center !important;
}

.page_container {
  text-align: center;
  text-wrap-style: balance;
}
.page_container > .header {
  height: 50px;
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}
.page_container > .left {
  width: 30%;
  position: relative;
  display: inline-block;
  text-align: left;
}
.page_container > .right {
  width: 70%;
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.page_container > .bottom {
  height: 50px;
  position: relative;
  margin-top: 10px;
  text-align: left;
}

.view_index > .header p {
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
}
.view_index > .left {
  width: 200px !important;
}
.view_index > .left ul {
  margin-left: 25px;
}
.view_index > .left ul li {
  padding: 5px;
}
.view_index > .left ul li.category {
  font-weight: bold;
}
.view_index > .left ul li .click {
  cursor: pointer;
}
.view_index > .left ul li p {
  width: fit-content;
}
.view_index > .right {
  width: calc(100% - 200px) !important;
}
.view_index > .right h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
.view_index > .right p {
  margin: 10px;
}
.view_index > .right ul {
  list-style: disc;
  margin: 10px 10px 10px 20px !important;
}
.view_index > .right ul li {
  padding: 5px;
}
.view_index > .right .title {
  font-weight: bold;
}
.view_index > .right .sub_title {
  text-decoration: underline;
}
.view_index > .right .group {
  border: 1px solid #000000;
  margin-right: 10px;
}

.view_content {
  margin-right: 10px;
}

table {
  border: 1px solid #000000 !important;
}
table colgroup .cell {
  width: 50px !important;
}
table thead .row {
  background-color: #bddeff !important;
}
table .cell {
  border: 1px solid #000000 !important;
}

.view_example > .header {
  height: auto !important;
}
.view_example > .header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}
.view_example > .left {
  width: 100% !important;
}
.view_example > .left .section {
  margin: 10px;
}
.view_example > .left .section .title {
  font-weight: bold;
  font-size: 18px;
}
.view_example > .left button {
  border: 1px solid #000000;
  background-color: #ccd3e0;
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.view_example p {
  margin: 10px;
}

.view_fw_file .section {
  margin-bottom: 50px;
}

/*# sourceMappingURL=main.css.map */
